{% extends 'try/base.html' %}

{% block content %}

<form action="." method="POST"> {% csrf_token %}

<div class="w-1/2 rounded-xl mx-auto bg-blue-200 px-6 py-3">
	<h1 class="text-3xl" align='center'> Login </h1>
	
	<br> <hr> <br>
	
	<div class="mb-3 text-xl">
		<label class="mb-2">Username:</label> <br>
		{{ form.username }}
	</div>

	<div class="mb-3 text-xl">
                <label class="mb-2">Password:</label> <br>
                {{ form.password }}
        </div>


	{% if form.errors or form.non_field_errors %} 
		<div class="rounded-xl p-6 px-4 mb-3 mt-3 text-2xl white-text bg-red-200">
		{% for field in form %}
			{{ field.errors }}:<br>
			{{ form.non_field_errors }}
		{% endfor %}
		</div>
	{% endif %}

	<br> <hr> <br>

	<span class="p-5 mx-auto">
		<input type='submit' class="bg-teal-500 rounded-xl p-5 mb-3 mx-auto">
	</span>
	
</div>

</form
>
{% endblock %}
